
  <mat-toolbar class="toolBar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: white">Virtual Rooms<mat-icon>school</mat-icon></span>
    <span class="example-spacer"></span>
      <button mat-button class="example-icon" routerLink="entrar-disciplina"> <mat-icon>add</mat-icon></button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="perfil">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push">
    <button mat-button class="buttonSideNav" routerLink="listagem-disciplina"> <mat-icon>book</mat-icon>Listagem de Disciplinas</button>
    <button mat-button class="buttonSideNav" routerLink="cadastro-disciplina"> <mat-icon>app_registration</mat-icon>Cadastro</button>
    <button mat-button  class="buttonSideNav" routerLink=""> <mat-icon>logout</mat-icon>Logout</button>
    <button mat-button  class="buttonSideNav" routerLink="" (click)="excluirConta()"> <mat-icon>delete</mat-icon>Desativar conta</button>
  </mat-sidenav>

  <mat-sidenav-content class="tela">
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


